<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <title>Ruine moscow</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div id="map"></div>

    <div *ngIf="points.length > 0">
      <ul>
        <li *ngFor="let point of points; let i = index">
          Point {{ point.number }} - Lat: {{ point.lat }}, Lng: {{ point.lng }},
          Height: {{ point.height }}
          <button (click)="removePoint(point)">Remove</button>
          <app-point
            [point]="point"
            (pointDragged)="updatePoint($event)"
          ></app-point>
        </li>
      </ul>
    </div>
  </body>
</html>
